.cooptation-highlight {
  background-color: #d38191;
  padding: 2px 4px;
  border-radius: 3px;
  cursor: help;
  position: relative;
  display: inline-block;
}

.cooptation-highlight:hover {
  background-color: #a76472;
}